@import "./styles/bootstrap-custom-variables";
@import "./styles/bootstrap-custom-utilities";
@import "bootstrap/scss/bootstrap";
@import "./styles/bootstrap-custom-loop";
@import "./styles/swiper-custom";
@import "swiper/css/bundle";
@import "./styles/sweetalert2-custom-variables";
@import "sweetalert2/src/sweetalert2";
@import "./styles/other";

.font-barlow {
    font-family: $font-barlow !important;
}

/*
* ==========================================================================
* 共用
* ==========================================================================
*/

html {
    font-size: $font-size-base;

    @include media-breakpoint-up(lg) {
        font-size: $font-size-base * 1.125;
    }
}

body {
    background: url("../assets/images/bg.jpg") top center no-repeat;
    background-size: cover;
    background-color: $body-bg;
}

// 置頂高度(距離 header 高度)
.fixed-margin-top-headerHeight {
    margin-top: $header-height;
}

// 邊框顏色同下拉下單選單
.border-color-dropdown {
    border-color: $dropdown-border-color !important;
}

// 圖片依容器大小 自適應圖片尺寸
.img-cover {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
}

// 按鈕自訂矩形圓角
.btn.btn-custom-rectangle {
    border-radius: 0;
    clip-path: polygon(100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 0, 100% 0);
    -webkit-clip-path: polygon(100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 0, 100% 0);
}

.custom-rectangle {
    background-color: $border-color;
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0, 100% 70%, 75% 100%, 0% 100%);
}

.border-style-dashed {
    border-style: dashed !important;
}

.border-card-border-width {
    border-width: $card-border-width !important;
}

// 修改 input 預設樣式 :
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: $input-color; // 改變字體顏色
    -webkit-box-shadow: 0 0 0px 1000px $input-bg inset; // 改變背景色
    box-shadow: 0 0 0px 1000px $input-bg inset;
    transition: background-color 5000s ease-in-out 0s;
}

.text-shadow {
    text-shadow: 5px 5px 5px rgba($black, 35%);
}

/*
* ==========================================================================
* bootstrap 樣式
* ==========================================================================
*/

// dropdown
.dropdown-menu {
    @include media-breakpoint-up(md) {
        &:not([aria-labelledby="dropMySignUp"]) {
            max-width: 15rem;
        }
    }
}

.dropdown-toggle {
    &.dropdown-hide-arrow:after {
        display: none;
    }
}

// nav
.nav-link {
    &.disabled {
        font-weight: 500;
    }
}

// form
// checkbox & radios
.form-check-input,
.form-check-label {
    cursor: pointer;
}

.form-select {
    option:disabled {
        color: $input-placeholder-color;
    }
}

// card
.card {
    box-shadow: var(--bs-card-box-shadow);
}

/*
* ==========================================================================
* vue-star-rating 評分
* ==========================================================================
*/

.vue-star-rating-star {
    line-height: 1px;
}

.vue-star-rating-rating-text {
    margin-top: 1px;
}

/*
* ==========================================================================
* sweetalert2
* ==========================================================================
*/

// popup
.swal2-popup {
    box-shadow: $swal2-box-shadow;
}
