@import "./styles/bootstrap-custom-variables";
@import "./styles/_bootstrap-custom-utilities";
@import "bootstrap/scss/bootstrap";
@import "./styles/_other";

.font-barlow {
    font-family: $font-barlow !important;
}

/*
* ==========================================================================
* 共用
* ==========================================================================
*/

html {
    font-size: $font-size-base;

    // @include media-breakpoint-up(md) {
    //     font-size: $font-size-base * 1.125;
    // }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-base * 1.125;
    }
}

body {
    background: url("../assets/images/bg.png") top center no-repeat;
    background-size: cover;
    background-color: $body-bg;
}

// 置頂高度(距離 header 高度)
.fixed-margin-top-headerHeight {
    margin-top: $header-height;

    @include media-breakpoint-up(md) {
        margin-top: $header-height-md-up;
    }
}

// 邊框顏色同下拉下單選單
.border-color-dropdown {
    border-color: $dropdown-border-color !important;
}

// 圖片依容器大小 自適應圖片尺寸
.img-cover {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
}

// 按鈕自訂矩形圓角
.btn.btn-custom-rectangle {
    border-radius: 0;
    clip-path: polygon(100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 0, 100% 0);
    -webkit-clip-path: polygon(100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 0, 100% 0);
}

.custom-rectangle {
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 80%, 80% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0, 100% 80%, 80% 100%, 0% 100%);
}

.border-style-dashed {
    border-style: dashed !important;
}

/*
* ==========================================================================
* 共用 (bootstrap 樣式)
* ==========================================================================
*/

.dropdown-menu {
    @include media-breakpoint-up(md) {
        &:not([aria-labelledby="dropMySignUp"]) {
            max-width: 15rem;
        }
    }
}

.dropdown-toggle {
    &.dropdown-hide-arrow:after {
        display: none;
    }
}

.nav-link {
    &.disabled {
        font-weight: 500;
    }
}
